
div.block-luceneapi_tagcloud {
	margin: .3em 1em 1.2em 0;
	text-align: center;
}

div.block-luceneapi_tagcloud a.active {
  white-space: nowrap;
}

div.block-luceneapi_tagcloud a {
  text-decoration: none;  
}

div.block-luceneapi_tagcloud .level1 {
  font-size: 1em;
}

.div.block-luceneapi_tagcloud .level2 {
  font-size: 1.2em;
}

div.block-luceneapi_tagcloud .level3 {
  font-size: 1.4em;
}

div.block-luceneapi_tagcloud .level4 {
  font-size: 1.6em;
}

div.block-luceneapi_tagcloud .level5 {
  font-size: 1.8em;
}

div.block-luceneapi_tagcloud .level6 {
  font-size: 2em;
}

div.block-luceneapi_tagcloud .level7 {
  font-size: 2.2em;
}

div.block-luceneapi_tagcloud .level8 {
  font-size: 2.4em;
}

div.block-luceneapi_tagcloud .level9 {
  font-size: 2.6em;
}

div.block-luceneapi_tagcloud .level10 {
  font-size: 2.8em;
}
